<!DOCTYPE html>
<html>
<head>
 
  <title>Dalecoin Chat</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v3.12.1, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/icons/favicon.ico" type="image/png">
  <meta name="description" content="">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="assets/bootstrap-material-design-font/css/material.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
<section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background" id="header2-4" style="background-image: url(assets/images/landscape.jpg);">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
    </div>

    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">

            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">
                        
                            

                        <div class="mbr-table-cell col-md-5 content-size text-xs-center text-md-right">

                            <h3 class="mbr-section-title display-2"><p style="">DALECOIN CHAT GROUP&nbsp;</p></h3>

                            <div class="mbr-section-text">
                                <center><h5>Total Users : <span id="usercount"></span></h5></center>
                                <p><a href="https://coinmarketcap.com/currencies/dalecoin/#markets" target="_blank" class="text-black">Dalecoin</a> chat group is a decentralized chat economy where token holders have access to join any educational and profitable group chats created. There are different groups in the chat DApp. Token holders can join any depending on interests.<br><br>For the noobs who want to learn about crypto trading and investing there is a group dedicated for that, there is also frebbies/Giveaway group and host of many other groups to join.<br><br>1.) Learn Cryptotrading and investing group<br>2.) Bounties group<br>3.) Freebies and Giveaway group<br><span style="line-height: 1.5;">4.) Channel to access Crypto How to video tutorials</span><br><span style="line-height: 1.5;">and many other groups and channels that will be useful to the community.</span><br><br>To register and join ensure to have a Dapp browser such as <a href="https://metamask.io/" target="_blank">metamask wallet plugin</a> for chrome desktop browser and if you are a mobile user download <a href="https://trustwallet.com/" target="_blank">TRUST WALLET</a> from <a href="https://play.google.com/store/apps/details?id=com.wallet.crypto.trustapp" target="_blank">google playstore</a> or <a href="https://itunes.apple.com/us/app/trust-ethereum-wallet/id1288339409" target="_blank">apple store</a>&nbsp;or any DApp Mobile browser of your choice.<br><br>NOTE: Users need few Dalecoins in their wallets to access channels and groups in the DApp. Users dont spend tokens but &nbsp;need it to gain access only.<br><br>To get more information about Dalecoin <a href="https://coinmarketcap.com/currencies/dalecoin/" target="_blank">Click here</a><br>Dalecoin Contract Address on <a href="https://etherscan.io/token/0x07d9e49ea402194bf48a8276dafb16e4ed633317" target="_blank">Etherscan</a><br></p>
                            </div>

                            <div class="mbr-section-btn"><a class="btn btn-info" href="http://dalecoinchat.com/registration" >REGISTER</a> <a class="btn btn-success" href="http://dalecoinchat.com/login">LOGIN</a></div>

                        </div>
                        <div class="mbr-table-cell mbr-valign-top mbr-left-padding-md-up col-md-7 image-size" style="width: 50%;">
                            <div class="mbr-figure"><img src="assets/images/coworkers.jpg"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    

</section>


  <section class="engine"><a rel="external" href="https://mobirise.com">Mobirise Web Site Builder</a></section><script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="assets/jarallax/jarallax.js"></script>
  <script src="assets/viewport-checker/jquery.viewportchecker.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
  <input name="animation" type="hidden">
  </body>
  <script>

      $( document ).ready(function() {

           $.ajaxSetup({crossDomain: true,xhrFields: {withCredentials: true}});

            $.get('https://dalecoinchat.com/api/v1/usercount',function(result) { 

                $("#usercount").html(result.count);

            });

     });

   </script>

</html>