<!DOCTYPE html>
  <html>
    <head>
        
     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>


  <body>


  <ul id="slide-out" class="sidenav">

  <center><div  href="#" id="logout" onclick="logout()" class="button">LOG OUT</div></center>

  <li><a href="#!"><center><p>TOTAL USERS :   <span id="usersmaincount"> </span></p></center>CHAT GROUPS </a></li>

  <div class="collection callGroup">

      </div>

    </ul>

    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <center><p class="green accent-1 groupDisplay"><span id="groupname"></span></p></center>


    <div class="ifa accent-1">

      <br>
      <center><p id="welcomeMsg1">Welcome to DaleCoin Chat ! <br></p></center>
      <br>
      <center><p id="welcomeMsg2">Please click on the top left button <i class="material-icons">menu</i> to see chat groups to Join</p></center>

           <iframe id="chatWindow" style="position:absolute; width:100vw; height:100vh;" frameborder="0"></iframe>

          </div>


          <div class="progress hide">
              <div class="indeterminate"></div>
          </div>

        

  <!-- Modal Structure For No Metamask Detected -->
  <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Couldn't get any accounts! </h4>
          <p>Couldn't get any accounts! Make sure your Ethereum client is configured correctly.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>




 <div id="modal2" class="modal">
        <div class="modal-content">
          <h4>Sorry! </h4>
          <p>The group is either not available or is Private</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

 <div id="modal3" class="modal">
        <div class="modal-content">
          <h4>User not eligible to chat! </h4>
          <p id="userNotEligibleError"></p>
          <p id="tokenExchanges"></p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>




      <!--JavaScript at end of body for optimized loading-->
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="js/chat.js"></script>
    </body>
    <script>

           document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var options = null;
                var instances = M.Sidenav.init(elems, options);

            });

            function close() {
                console.log("calling close function");
                instances.close();
            }



    </script>
  </html>
